<section class="content-header">
    <h1>
        {{ 'post.category.edit_category' | translate }}
        <small>{{ category.title }}</small>
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <form name="formCtrl.categoryForm">

        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">

                    <button type="button" ng-disabled="formCtrl.categoryForm.$invalid || formCtrl.saveLoading"
                            ng-click="formCtrl.save()"
                            class="btn btn-primary"><i class="fa fa-save"></i> {{
                        'button.save' |
                        translate }}
                    </button>

                    <button type="button" class="btn btn-default" ng-click="$location.path('posts/categories')"><i
                            class="fa fa-reply"></i> {{ 'button.go_back' |
                        translate }}
                    </button>

                    <button type="button" ng-disabled="formCtrl.categoryForm.$invalid || formCtrl.saveLoading"
                            ng-click="formCtrl.saveAndExit()"
                            class="btn btn-primary"><i class="fa fa-save"></i> {{ 'button.save_exit' |
                        translate }}
                    </button>

                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br/>

        <div class="row">
            <div class="col-md-8">

                <div class="box box-solid">
                    <div class="box-body">

                        <div class="form-group">
                            <label class="control-label" for="title">{{ 'global.name' | translate }}</label>
                            <input id="title" type="text" class="form-control"
                                   required=""
                                   ng-model="formCtrl.category.name">
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="description">{{ 'global.description' | translate
                                }}</label>

                            <textarea class="form-control" id="description"
                                      ng-model="formCtrl.category.description"></textarea>
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
            <div class="col-md-4">

                <div class="box box-solid">
                    <div class="box-body">

                        <div class="form-group">
                            <label for="slug" class="control-label">{{ 'global.slug' | translate }}</label>


                            <div class="input-group">
                                <input required="" id="slug" type="text" class="form-control"
                                       ng-model="formCtrl.category.slug">

                                <div class="input-group-btn">
                                    <button type="button"
                                            ng-disabled="formCtrl.generateSlugLoading || !formCtrl.category.name"
                                            ng-click="formCtrl.generateSlug()" class="btn btn-default">{{
                                        'button.generate' | translate }}
                                    </button>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->

                        </div>


                        <div class="form-group">
                            <label class="control-label" for="status">{{ 'global.status' | translate }}</label>

                            <div class="radio">
                                <label>
                                    <input name="status" ng-model="formCtrl.category.active" value="1" type="radio">
                                    <i class="fa fa-check"></i>
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input name="status" ng-model="formCtrl.category.active" value="0" type="radio">
                                    <i class="fa fa-close"></i>
                                </label>
                            </div>
                        </div>


                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </form>
    <!-- /form -->

</section>
